@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
  background-color: brown;
}

.nav-bar{
	width: 100%;
	height: 8vh;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
  display: flex;
  color: orange;
  flex-direction: row;
  z-index: 9999;
}

.cust-nav-bar{
  justify-content: space-between;
}

.button-container-home {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 5%;
    width: auto;
}

.button {
    color: #000;
    background-color: darkgrey;
    /* padding: 1vh 2vh; */
    text-align: center;
    text-decoration: none;
    display: block;
    height: 5vh;
    width: 10vw;
    border-radius: 1vw;
    font-size: 1vw;
    border: 2px solid #000;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1:hover {
    background-color: rgba(233, 50, 46,0.8);
    color: white;
  }

  .button2 {
    margin-left: 2vw;
  }

  .button2 a{
    color: #000; 
    text-decoration: none;
    padding: 1vh 3vw 1vh 2.5vw;
  }

  .button2 a:hover{
    color: white;
  }

  .button2:hover {
    background-color: rgba(233, 50, 46,0.8);
    color: white;
  }


.login-page{
  position: relative;
  top:8vh;
	height: 92vh;
	width: 100%;
  display: flex;
  overflow-y: hidden;
}

.login-side{
	height: 100%;
	width: 40%;
  background-color: rgba(0,0,0);
  color:orange;
	position: relative;
	align-self: center;
	font-size: 1.5vw;
}
.login-text{
	position: relative;
	margin: 35vh 10vw;
}
.login-text h2{
	font-size: 4vw;
}

.login-input{
	height: 100%;
	position: relative;
	
	align-self: center;
}

.login-form{
    position: relative;
    margin: 30vh 0% 0% 15vw;

}

.form-group{
	display: grid;
  grid-template-columns: auto;
  grid-gap: 1vh;
  font-family: "Lato", sans-serif;
	font-size: 2.5vw;
}

.form-group input{
	width: 25vw;
	padding-left: 0.5vw;
  font-size: 1.5vw;
  height: 6vh;
  border-radius: 0.65vw;
}

.admin-add-pizza{
  position: relative;
  top: 10vh;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */
.customer-signup{
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('/static/image/userSignupBg.jpg');
  background-position: center;
  background-size: cover;
  overflow-y: hidden;
}
.user-signup-box{
  position: relative;
  width: 30vw;
  height: 92vh;
  background-color: orange;
  left: 70vw;
  top: 8vh;
}

.user-signup-box h2{
  text-align: center;
} 

.user-signup-box form{
  height: inherit;
  position: relative;
  display: flex;
  padding-left: 3vw;
  flex-direction: column;
}

.user-signup-box form div{
  width: 95%;
  height: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-signup-box form div label{
  font-size: 3.75vh;
}

.user-signup-box form input{
  width: 100%;
  height: 40%;
  font-size: 3vh;
  padding-bottom: 0.5vh;
  border: None;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;  
}

.user-signup-box form input[type=submit]{
  align-self: center;
  border: 0.2vw solid #fff;
  border-radius: 1vw;
  font-size: 3vh;
  margin-top: 4vh;
  height: 8vh;
  width: 8vw;
}

.show-pizza-cust{
  position: relative;
  width: 90vw;
  height: fit-content;
  top:10vh;
  margin: auto;
}

/*.show-pizza-cust table td{
  padding:3vh 6vw;
}
.show-pizza-cust table tr input[type=number]{
  width: 4vw;
}*/

.cust-address{
  position: relative;
  width: 100%;
  height: 5vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
}

.cust-address input[type=text]{
  border: solid 2px #000;
  width:70%;
}

.customer-orders table{
  position:relative;
  width:80%;
  top: 6vh;
  padding-top: 2vh;
}

.customer-orders table tr td{
  border: 3px solid #000
}

.show-pizzas{
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
}

.container{
  position: relative;
  width: 27vw;
  height: 32vh;
  margin-top: 2vh;
  display:flex;
  flex-direction:column;
  
}
.pizza-img{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 2vw;
}

.card{
  position:relative;
  width:90%;
  height:auto;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  background-color:white;
  margin:0 5%;
  margin-top:-50px;
}

.card p{
  margin-left:2vw;
  font-size: 1.4vw;
  height: 30%;
}


