{% extends 'base.html' %}

{% block navbar %}
	<nav class="nav-bar">

		<h2>Welcome Admin</h2>
		<div class="button-container-home">
	        <button  class="button button1"> 
	            <a href="/adminlogout/">Logout</a>
	        </button>
		</div>
	</nav>
{% endblock %}

{% block content %}	
	<div class="admin-add-pizza">
		<form method="POST" action="/addadminpizza/">
			{% csrf_token %}
			<input type="text" placeholder="Pizza" name="pizza">
			<input type="text" placeholder="Price" name="price">
			<input type="submit" name="" value="add"> 
		</form>
		<div class="admin-show-pizza">	
			<table style="width: 50%;" border="1">
				<tr>
					<th>Pizza</th>
					<th>Price</th>
					<th>Delete</th>
				</tr>
				{% for i in pizzas %}
				<tr>
					<td>{{i.name}}</td>
					<td>{{i.price}}</td>
					<td><button ><a href="/deleteadminpizza/{{i.id}}">Delete</a></button></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	

{% endblock %}