{% extends 'base.html' %}

{% block navbar %}

{% endblock %}

{% block content %}

<div class="admin-login-page">
	<div class="admin-login-side">
	    <div class="admin-login-text">
	        <h2>Admin<br> Login Page</h2>
	        <p>Login here to access.</p>
	    </div>
	</div>
	<div class="admin-login-input">
	    <div class="admin-login-form">
	       <form method="POST" action="/authenticateAdmin/">
	       		{% csrf_token %}
				<div class="form-group">
					<label>User Name</label>
					<input type="text" class="form-control" placeholder="User Name" name="username">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" placeholder="Password" name="password">
				</div>

				<div class="button-container-home">
			        <button style="margin-top: 1.5vh" type="submit" class="button button1"> 
			            <a href="/adminlogout/">Login</a>
			        </button>
				</div>

<!-- 				<button style="margin-top: 1.5vh" type="submit" class="btn btn-black">Login</button>
 -->	    </form>
	       {% for message in messages %}
				<p style="text-align: center;color: red">{{message}}</p>	

			{% endfor %}
	    </div>
	</div>
</div>

{% endblock %}