{% extends 'base.html' %}

{% block navbar %}
<nav class="nav-bar">
	<h2 style="margin-left: 5%;">PizzaRia</h2>
	<div class="button-container-home" style="left: 75%;">
        <button  class="button button1"> 
            <a href="/">Signup</a>
        </button>
	</div>
</nav>
{% endblock %}

{% block content %}

<div class="login-page">
	<div class="login-side">
	    <div class="login-text">
	        <h2>User<br> Login Page</h2>
	        <p>Login here to access.</p>
	    </div>
	</div>
	
	<div class="login-input">
	    <div class="login-form">
	       <form method="POST" action="/authenticateUser/">
	       		{% csrf_token %}
				<div class="form-group">
					<label>User Name</label>
					<input type="text" class="form-control" placeholder="User Name" name="username">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" placeholder="Password" name="userpassword">
				</div>

				<div class="button-container-home">
			        <button style="margin-top: 1.5vh" type="submit" class="button button1"> 
			            Login
			        </button>
				</div>

<!-- 				<button style="margin-top: 1.5vh" type="submit" class="btn btn-black">Login</button>
 -->	    </form>
	       {% for message in messages %}
				<p style="text-align: center;color: red">{{message}}</p>	

			{% endfor %}
	    </div>
	</div>
</div>

























<div class="user-view">
    <form method="POST" action="/authenticateUser/">
        {% csrf_token %}
        <input type="text" name="username" > 
        <input type="password" name="userpassword" > 
        <input type="submit" value="submit" >
    </form>
<div>

{% for message in messages %}
<p style="text-align: center;color:red;position:absolute;font-size:3vw">{{ message }}</p>
{% endfor %}
{% endblock %}