{% extends 'base.html' %}

{% block navbar %}
<nav class="cust-nav-bar nav-bar">
    <h2>Welcome User {{ username }}</h2>
	<h2>PizzaRia</h2>
	<div class="button-container-home">
        <button  class="button button1"> 
            <a href="/customer/logout/">Signout</a>
        </button>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="show-pizza-cust">
    {%for message in messages%}
    <p style="text-align:center; color:red">{{message}}</p>
    {% endfor %}

    <h3 style="text-align:center"><a Style="text-decoration:none" href="/customer/showorder/">Check Order</a><h3>
    <form method="POST" action="/placeorder/">
        {% csrf_token %}
        
        
        {% comment %} <table>
            <tr>
                <th><h4>Pizza</h4></th>
                <th><h4>Cost</h4></th>
                <th></th>
                <th><h4>Quantity</h4></th>
            </tr>

            {% for i in pizzas %}
            <tr>
                <td>{{ i.name }}</td>
                <td>Rs.{{ i.price }}</td>
                <td><img class="pizza-img" src = "{{request.scheme}}://{{request.META.HTTP_HOST}}/{{i.pizza_image.url}}"></td>
                <td><input type="number" min="0" name= "{{i.id}}" placeholder="0"></td>
            </tr>
            {% endfor %}
        </table> {% endcomment %}
        <div class="show-pizzas">
            {% for i in pizzas %}
            <div class="container">
                <img class="pizza-img" src="{{request.scheme}}://{{request.META.HTTP_HOST}}/{{i.pizza_image.url}}">
                <div class="card">
                    <p>{{ i.name }}</p> 
                    <p>Mozzarella Cheese | Chicken Salami | Chicken Tikka |     American Cor...</p>
                    <div style="display:flex; justify-content:space-between">
                        <p style="margin:3vh 1vw">Price: Rs.{{ i.price }}</p> 
                        <input style="width: 4vw;height:5vh;margin:2vh 5vw" type="number" min="0" name= "{{i.id}}" placeholder="0">
                    </div>
                </div>
            </div>
            {% endfor %}
        
        </div>

        <div class="cust-address">
        
            <input type="text" name="address" placeholder="Enter Address..">
            <div class="button-container-home" style="margin-left:10%;"> 
                <button  type="submit" class="button button1"> 
                    Order
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}